{
    "app": {
        "port": 3000,
        "environment": "development",
        "token": "secret-token-for-auth",
        "adminKey": "admin-key-for-secret-routes"
    },
    "bearerApp": {
        "enabled": false,
        "token": "super-secret-token"
    },
    "mysql": {
        "host": "0.0.0.0",
        "port": 3306,
        "username": "user",
        "password": "1234-xD",
        "database": "noice"
    }
}
